/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/blog/blog.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
/* app/blog/blog.module.css */
.blog_blogRoot__aWGJR {
  min-height: 100vh;
}

.blog_main__zZKg7 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

